<!DOCTYPE html>
<html ng-app="codeStats" >
  <head>
    
  </head>
  <body class="container-fluid">
    <div class="row">
    <div class="col-md-4 col-md-offset-1">
      <h1> Code Stats </h1>
    </div>
    </div>

    <div ng-controller="GroupController as grpCtrl">
      <div ng-controller="StatController">

        <div class="row">
          <div class="col-md-1">
          </div>

          <div class="col-md-6" ng-controller="ChartController" ng-show="items.length" >
            <highchart id="chart1" config="chartConfig"></highchart>
          </div>

          <div class="col-md-4">
            <form name="reviewForm" ng-controller="TextController as txtCtrl" ng-submit="txtCtrl.addSnippet(grpCtrl.remakeGroups)">
                <h4>Submit a Code Snippet</h4>
                <fieldset class="form-group">
                  <input ng-model="txtCtrl.snippet.name" class="form-control" placeholder="Code Title" title="Name" required/>
                </fieldset>
                <fieldset class="form-group">
                  <textarea ng-model="txtCtrl.snippet.body" class="form-control" rows="15" placeholder="Enter code snippet here..." title="Code" required></textarea>
                </fieldset>
                <fieldset class="form-group">
                  <input ng-disabled="reviewForm.$invalid" type="submit" class="btn btn-primary pull-right" value="Analyze Code Snippet" />
                </fieldset>
            </form>
          </div>

        </div>

        <div class="row">
          <div class="col-md-10 col-md-offset-1">
            <section class="tab" ng-controller="TabController as tab" >
              <h4 ng-show="groups.length">View Code</h4>
              <ul class="nav nav-pills">
                <li ng-class="{active:tab.isSet(0)}" ng-show="groups.length">
                  <a href ng-click="tab.setTab(0)">Select None</a>
                </li>
                <li ng-repeat="g in groups" ng-class="{active:tab.isSet(g)}">
                  <a href ng-click="tab.setTab(g)">{{"Group " + g}}</a>
                </li>
              </ul>
              <br>
              <accordion ng-repeat="item in items">
                <accordion-group heading="Content For {{item.name}}" ng-show="tab.isSet(item.group)">
                  <p>Statements: {{item.statements}}</p>
                  <pre><code>{{item.code}}</code></pre>
                </accordion-group>
              </accordion>
              <br>
              <br>
            </section>
          </div>
        </div>
      </div>
      
    </div>

    <script src="//code.jquery.com/jquery-2.1.3.min.js"></script>
    <script src="vendors/angular.js"></script>
    <script src="vendors/highcharts.js"></script>
    <script src="scripts/directives/highcharts-ng.js"></script>
    
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/css/bootstrap.min.css" rel="stylesheet">
    <script src="scripts/directives/ui-bootstrap-custom-0.12.0.js"></script>
    <script src="scripts/directives/ui-bootstrap-custom-0.12.0.min.js"></script>
    <script src="scripts/directives/ui-bootstrap-custom-tpls-0.12.0.js"></script>
    <script src="scripts/directives/ui-bootstrap-custom-tpls-0.12.0.min.js"></script>

    <script src="scripts/app.js"></script>
    <script src="scripts/services/data.js"></script>
    <script src="scripts/controllers/statCtrl.js"></script>
    
  </body>
</html>